body{
	font-family: 'Roboto','Helvetica','Arial',sans-serif!important;
}

::-webkit-scrollbar { 
    display: none; 
}
/*
a:link {
    background-color: none;
}

a:visited {
    background-color: none;
}

a:hover {
   background-color: none;
   color: yellow;
}

a:active {
    background-color: none;
} */
.go_top{
	color: rgb(255,40,255);
}

.go_top:hover {
   background-color: none;
   color: yellow;
}

.mfont{
	font-family: 'Dancing Script', cursive;
}

#main{
	height: 660px;
}

#startImage{
	max-height: 650px;
	max-width: 630px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#rest,#about,#topics{
	display: none;
}

.dp{
	max-height: 110px;
	max-width: 200px;
	margin-top: 5px;
	margin-bottom: 5px;

}

.circle_image{
	border-radius: 50%;
    height: 50px;
    width: 50px;
}

.circle_image_big{
	border-radius: 50%;
    height: 250px;
    width: 250px;
    padding: 25px;
}

.main{
	max-height: 300px;
	max-width: 270px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 22px;
}

.back{
	background-color: rgb(100,180,100);
}


.top{
	background-color: rgb(80,100,150);
	margin-top: 0px;
}

.line{

	color: blue;
	height: 1px;
	background-color: grey;
}

.works{
	height: 100px;
	width: 190px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-right: 5px;
	margin-right: 10px;
}

.foot{
	max-height: 40px;
	max-width: 40px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.cards.mdl-card{
	width: 512px;
}

.cards > .mdl-card__title{
	color: #fff;
	height: 176px;
	background: url('../rcon2.jpg') center / cover; 
}

.cards > .mdl-card__menu{
	color: #fff;
}