.Head
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: Bold;
    color: #000000;
}
.Normal
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:  11px;
    font-weight: Normal;
    color: #000000;
	padding:0px 0px 0px 0px;
}
#common .Head
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: Bold;
    color: #2C6485;
}












